<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img height="300px" width="300px" src="../../../assets/images/foto.jpg" alt="Danny"/>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <label><b>Autor</b> : Danny Kevin Cando Ortiz</label>
                        <label><b>Email</b> : dannykevincandoortiz@gmail.com</label>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>